html {
    background-color: #dfd7ca;
}


h1, h2, p, a, button {
    font-family: 'Source Serif Pro', serif;
    font-weight: normal;
    color: #775e5a;
    padding: 8px;
}

h1 {
    padding-top: 50px;
}

.introduction {
    padding-left: 70px;
    padding-bottom: 10px;
    padding-top: 5px;
}

button {
    border: none;
    padding: 0;
    background-color:#dfd7ca;
}

.item {
    padding-right: 10px;
}

p {
    font-size: 18px;
}


p.contact:hover, a:hover {
    background-color: #a1827e;
    color: #ece7df;
    text-decoration: none;
    border-radius: 10px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


.main {
    padding-left: 50px;
    padding-bottom: 25px;
    width: 90%;
    height: 650px;
    margin: auto;
    position: relative;
}

.main-image {
    padding: 10px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    box-shadow: 2px 2px 10px 1px #9e7e79;
    border-radius: 25px;
    z-index: 0;
}

@media only screen and (min-width: 1200px) {
    .main, .main-image {
        width: 1080px;
    }
}

.speech {
    background-color: transparent;
    font-family:'Changa', sans-serif;
    color: transparent;
    padding: 5px;
    position: absolute;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 2px;
    line-height: 19px;
    margin: auto;
    z-index:0;
}

.hover-rect {
    background-color: transparent;
    position: absolute;
    width: 80px;
    height: 80px;
}

.pink.speech {
    top: 30%;
    right: 32%;
}

.yellow.speech {
    top: 48%;
    right: 43%;
}

.blue.speech {
    top: 73%;
    right: 50%;
}

.pink.hover-rect {
    top: 30%;
    right: 51%;
}

.yellow.hover-rect {
    top: 50%;
    right: 35%;
}

.blue.hover-rect {
    top: 75%;
    right: 60%;
}

@media screen and (max-width:1190px){
    .yellow.hover-rect {
        right: 30%;
    }
}

@media screen and (max-width:850px) and (min-width: 600px) {
    .yellow.hover-rect {
        right: 22%;
    }
}

@media screen and (max-width:600px){
    .yellow.hover-rect {
        right: 12%;
    }
}

@media screen and (min-width:750px) and (max-width: 1000px) {
    .pink.speech {
        right: 25%;
    }
    .blue.hover-rect {
        right: 63%;
    }
}

@media screen and (max-width:750px){
    .pink.speech {
        right: 10%;
    }    
    .yellow.speech {
        right: 38%;
    }
    .blue.hover-rect {
        right: 68%;
    }

}

div.hover-rect:hover + p.speech {
    background-color: #a1827e;
    color: #ece7df;
}

.open-button {
  background-color: #dfd7ca;
  border: none;
  cursor: pointer;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: absolute;
    margin: auto;
    border: 8px solid #f1f1f1;
    z-index: 9;
    background-color: #dfd7ca;
    box-shadow: 3px 3px 7px 3px #6e5752;
    font-family: 'Source Serif Pro', serif;
    color: #775e5a;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.cancel {
    background-color: #a1827e;
    color: #ece7df
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}