html {
    background-color: #DCDCDC;
}

h1, h2 {
    font-family: 'Playfair', serif;
    font-weight: normal;
}

img {
    max-width: 100%;

}

.introduction {
    padding-left: 20px;
    padding-top: 10px;
}